* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
}


.main-header {
    background-color: rgb(231, 221, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 10vh;
    position: sticky;
}

.header-left {
    font-size: 28px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
  
}

.header-logo {
    width: 100px;
    height: 100px;
    margin-top: 15px;

}

.header-right ul {
    display: flex;
    gap: 20px;
}

.header-right .header-btn li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6vw;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    font-size: 18px;
    background-color: rgb(224, 224, 235);
    border-radius: 5px;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    column-gap: 30px;
    outline-offset: 4px;
}

.header-right .header-btn li:hover {
    background-color: rgb(212, 36, 36);
    border-radius: 0.5rem;
    transition: 0.5s all linear;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: white;
}


.banner-img {
    width: 100vw;
    height: 72vh;
    margin: 10px 0px;
    object-fit: cover;
    object-position: center;
}

.banner-text h1 {
    font-size: 2em;
    color: #811a1a;
    text-align: left;
    margin-bottom: 1rem;
    position: absolute;
    top: 35%;
    left: 5%;
    max-width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    line-height: 1.5;
}

.pushable {
    background: hsl(340, 60%, 33%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    position: relative;

}

.front {
    display: block;
    padding: 15px 42px;
    border-radius: 15px;
    font-size: 3rem;
    background: hsla(348, 75%, 48%, 0.886);
    color: rgb(242, 239, 246);
    transform: translateY(-6px);
    text-decoration: double;
    transform: translateY(-6px);

}

.pushable:hover .front {
    background: hsl(210, 18%, 4%);
    /* Change to any color you like */
    color: #fcfcfc;
    /* Optional: Change text color on hover */
}

.pushable:active .front {
    transform: translateY(-2px);
}

.donation-body{
    height: 100vh;
    padding-top: 20px;
}